<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css" type="text/css">    
</head>

<body>

        <div class="row">
            <main class="col-md-12">

                <h1>About Me</h1>
                <p>I am <b>Chirag Dudheria</b>.<br>
                I am a student in <b>Seneca College</b>. My Program is <b>Database Application Developer</b>.<br>
                My student Id is <b>141957191</b>.<br> 
                This is my <b>WEB700 Assignment 6</b>.</p>

            </main>
    </div>

</body>

</html>