<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css" type="text/css">    
</head>

<body>

        <div class="row">
            <main class="col-md-12">



                <!-- Start your code here -->
                <p>Welcome to my website, I will be demonstrating HTML5 principles and techniques, routing in Express</p>
                <h3>Website Functionality</h3>
                <p>This site consists of 3 static views (Home,
                    About, HTML Demo) as well as 5 routes that supply data , including: All Employees, Employees by Department, A
                    Single Employee By Employee Number, All Managers and All Departments.
                    <br>Links to redirect to different pages to get the desired output.
                <ol>
                    <li>Link to Home Page<b><a href="/">'/'</a></b></li>
                    <li>Link to get all Employee Data <b><a href="/employees">'/employees'</a></b></li>
                    <li>Link to get all Departments Data<b><a href="/departments">'/departments'</a></b></li>
                    <li>Link to get all Employee Data with respect to their Department <b><a href = '/employees?department=5'>'/employees?department=5'</a></b>.</li>
                    <li>Link to get all Employee Data with respect to their Employee Number <b><a href="/employees/260">'/employees/260'</a></b>. 260 is the Employee Number value.</li>				
                    <li>Link to get all Managers Data <b><a href="/managers">'/managers'</a></b></li>
                    <li>Link for the About me page <b><a href="/about">'/about'</a></b></li>
                    <li>Link for Html Demo page <b><a href="/htmlDemo">'/htmlDemo'</a></b></li>
                </ol>
                
                <br>
                <h3>Short Description</h3>
                <p>This site utilizes HTML5: a markup language used for structuring
                    and presenting content on the World Wide Web. This website contains data of 280 employees.</p>


                <!-- End your code here  -->



            </main>
    </div>


</body>

</html>