<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href="/css/theme.css" type="text/css">
        
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Chirag Dudheria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/employees/add">Add Employee</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
                <li class="nav-item"><a class="nav-link" href="/managers">Managers</a></li>
                <li class="nav-item"><a class="nav-link" href="/departments">Departments</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main class="col-md-12">



                <!-- Start your code here -->
                <div><h1>Html Demo</h1></div>
                
                <h3>Programming Languages</h3>
            
                    <table class="table1">
                    
                    <thead>
                        <tr>
                            <th>Types of Programming Languages</th>
                            <th>Meaning</th>
                            <th>Examples</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Procedural Programming Language</b></td>
                            <td>The procedural programming language is used to execute a sequence of statements which
                                lead to a result</td>
                            <td>BASIC, C, FORTRAN, Java, and Pascal</td>
                        </tr>
                        <tr>
                            <td><b>Functional Programming Language</b></td>
                            <td>Functional programming language typically uses stored data, frequently avoiding loops in
                                favor of recursive functions.</td>
                            <td>Haskell,SML,Clojure,Scala,Erlang,Clean,etc</td>
                        </tr>
                        <tr>
                            <td><b>Object-oriented Programming Languages</b></td>
                            <td colspan="2">This programming language views the world as a group of objects that have
                                internal data and external accessing parts of that data.</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <p>This table contains different kind of programming languages.</p>
                
                <h3>Contact Information</h3>
                <table class="table2">
                    
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>Chirag Dudheria</td>
                          </tr>
                          <tr>
                            <th rowspan="2">Phone:</th>
                            <td>+12052945342</td>
                          </tr>
                          <tr>
                            <td>+91834298254</td>
                          </tr>
                          <tr>
                             <th rowspan="2">Country:</th> 
                            <td>India</td>
                          </tr>
                          <tr>
                            <td>Canada</td>
                          </tr>
                    </tbody>
                </table>
                <br>
                <p>This table contains my contact information.
                </p>
                <br>
                <h3>List of Object-oriented Programming Languages</h3>
                    <ol>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>Ruby
                            <ul>
                                <li>High-level programming language</li>
                                <li>It was designed and developed in the mid-1990s by Yukihiro "Matz" Matsumoto in Japan.</li>
                            </ul>
                        </li>
                    </ol>
                <br>
                <p>This is a list of Object Oriented Programming Language and their description.</p>
                    <br>
                    <h3>Work Environment</h3>
                    <br>
                    <img src="https://images.unsplash.com/photo-1612832021026-375ae70f24bf?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2541&q=80" 
                        alt="minimalism" width = "300" height = "300"><br>
                    <br>
                    <img src = "https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                        alt="Desk" width = "300" height = "300"><br>
                    <br>
                    <img src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80"
                        alt="Work from home" width = "300" height = "300"><br>
            
                <br>
                <p>Work from Home Environment</p>
                <br>
                    <h3>Instrumental Music</h3><br>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/Track03.mp3"
                            type="audio/mp3">
                    </audio>
                    <br>
                    <p>Soulful classical music to relax your mind.</p>
    
                <br>
                    <h2>Nature Video</h2>
                    <br>
                    <video width="400" height="400" controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/winter-2021/web700/A3/movie.mp4"
                            type="video/mp4">

                    </video>
                    <br>
                    <p>Relaxing video with nature sounds.</p>


                <!-- End your code here  -->



            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>